<div class="card ecommerce-card">
  <div class="item-img">
    <a [routerLink]="'/apps/e-commerce/details/' + product.productId">
      <img [src]="product.mainImagePath" alt="img-placeholder" />
    </a>
  </div>
  <div class="card-body">
    <div class="item-name">
      <h6 class="mb-0">
        <a [routerLink]="'/apps/e-commerce/details/' + product.productId" class="text-body">{{ product.productName
          }}</a>
      </h6>
      <span class="item-company">By <a href="javascript:void(0)" class="company-name">{{ product.brand }}</a></span>
      <div class="item-rating">
        <div class="rating rating-sm">
          <ngb-rating [rate]="product.averageRating" [readonly]="true" [max]="5" class="outline-none">
            <ng-template let-fill="fill" let-index="index"><span class="fa fa-star-o mr-25"
                [class.fa-star]="fill === 100"></span></ng-template>
          </ngb-rating>
        </div>
      </div>
      <!-- Attribute selection UI -->
      <div class="product-attributes mt-1" *ngIf="groupedAttributes | keyvalue as attributes">
        <div class="attribute-group" *ngFor="let attrGroup of attributes">
          <!-- Color Attribute - Special Styling with Color Swatches -->
          <ng-container *ngIf="attrGroup.key.toLowerCase() === 'color'">
            <div class="product-color-options">
              <h6>{{ attrGroup.key }}</h6>
              <ul class="list-unstyled mb-0">
                <li class="d-inline-block" *ngFor="let attr of attrGroup.value"
                  [class.selected]="selectedAttributes[attrGroup.key] === attr.value">
                  <label class="color-option-wrapper" [title]="attr.value">
                    <input type="radio" class="d-none" name="attr_{{ attrGroup.key }}_{{product.id}}"
                      [value]="attr.value" [checked]="selectedAttributes[attrGroup.key] === attr.value"
                      (change)="selectAttribute(attrGroup.key, attr.value)" />
                    <div class="color-option" [style.borderColor]="colorMap[attr.value]"
                      [class.b-active]="selectedAttributes[attrGroup.key] === attr.value">
                      <div class="filloption" [style.backgroundColor]="colorMap[attr.value]"></div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </ng-container>
          <!-- Other Attributes - Button Style -->
          <ng-container *ngIf="attrGroup.key.toLowerCase() !== 'color'">
            <h6 class="mb-1">{{ attrGroup.key }}</h6>
            <div class="attribute-options">
              <div class="btn-group btn-group-toggle" role="group">
                <label class="btn btn-sm btn-outline-primary mr-2 mb-1" *ngFor="let attr of attrGroup.value"
                  [class.active]="selectedAttributes[attrGroup.key] === attr.value">
                  <input type="radio" name="attr_{{ attrGroup.key }}_{{product.id}}" [value]="attr.value"
                    [checked]="selectedAttributes[attrGroup.key] === attr.value"
                    (change)="selectAttribute(attrGroup.key, attr.value)" />
                  {{ attr.value }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <span class="text-success mb-1" *ngIf="product.stockQuantity > 0">In Stock ({{ product.stockQuantity }})</span>
    <span class="text-danger mb-1" *ngIf="product.stockQuantity <= 0">Out of Stock</span>
    <div class="item-quantity">
      <span class="quantity-title">Qty:</span>
      <div class="quantity-counter-wrapper">
        <core-touchspin [numberValue]="product.quantity" [stepValue]="1" [minValue]="1"
          [maxValue]="product.stockQuantity || 10" (onChange)="onQuantityChange($event)">
        </core-touchspin>
      </div>
    </div>
    <span class="delivery-date text-muted">Delivery by, Wed Apr 25</span>
    <div class="item-subtotal mt-1">
      <strong class="text-primary">Subtotal: ${{ getFormattedSubTotal() }}</strong>
    </div>
  </div>
  <div class="item-options text-center">
    <div class="item-wrapper">
      <div class="item-cost">
        <h6 class="item-price">Unit: ${{ getFormattedPrice() }}</h6>
        <h4 class="item-subtotal text-primary">
          Total: ${{ getFormattedSubTotal() }}
        </h4>
      </div>
    </div>
    <button type="button" class="btn btn-light mt-1 remove-wishlist" (click)="removeFromCart(product)" rippleEffect>
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Remove</span>
    </button>
    <button type="button" class="btn btn-primary btn-cart move-cart" (click)="toggleWishlist(product)" rippleEffect>
      <i class="align-middle fa mr-25"
        [ngClass]="product.isInWishlist ? ['fa-heart','text-white'] : ['fa-heart-o']"></i>
      <span class="text-truncate">{{ product.isInWishlist ? 'In Wishlist' : 'Add to Wishlist' }}</span>
    </button>
  </div>
</div>