.modal {
  &.show {
    display: block;
    opacity: 1;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.5;
  }
}

.table {
  th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.857rem;
    letter-spacing: 0.5px;
  }
}

.btn-icon {
  padding: 0.5rem 0.7rem;
}
