<div class="content-wrapper container-xxl p-0">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <!-- app e-commerce details start -->
    <section class="app-ecommerce-details">
      <div class="card">
        <!-- Product Details starts -->
        <div class="card-body">
          <div class="row my-2">
            <div class="col-12 col-md-5 mb-2 mb-md-0">
              <!-- Main Image Carousel -->
              <div class="product-main-carousel">
                <ng-container *ngIf="productImages.length > 1; else singleImage">
                  <ngb-carousel [interval]="0" [showNavigationArrows]="true" [showNavigationIndicators]="true">
                    <ng-template ngbSlide *ngFor="let img of productImages">
                      <div class="carousel-img-wrapper">
                        <img [src]="img.path" alt="product image" class="d-block w-100"
                          style="max-height: 500px; object-fit: contain;" />
                        <span class="badge badge-primary position-absolute" style="top: 10px; right: 10px;"
                          *ngIf="img.isMain">Main Image</span>
                      </div>
                    </ng-template>
                  </ngb-carousel>
                </ng-container>

                <!-- Single image fallback -->
                <ng-template #singleImage>
                  <div class="d-flex align-items-center justify-content-center">
                    <img [src]="selectedImage || product?.mainImagePath" class="img-fluid product-img"
                      alt="product image" style="max-height: 500px; object-fit: contain;" />
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="col-12 col-md-7">
              <h4>{{ product?.nameEn }}</h4>
              <span class="card-text item-company">By <a href="javascript:void(0)" class="company-name">{{
                  product?.brand
                  }}</a></span>
              <div class="ecommerce-details-price d-flex flex-wrap mt-1">
                <h4 class="item-price mr-1">{{ product?.price }} EGP</h4>
                <div class="rating rating-sm pl-1 border-left mb-1">
                  <ngb-rating [rate]="product?.averageRating" [readonly]="true" [max]="5" class="outline-none">
                    <ng-template let-fill="fill" let-index="index"><span class="fa fa-star-o mr-25"
                        [class.fa-star]="fill === 100"></span></ng-template>
                  </ngb-rating>
                </div>
              </div>
              <p class="card-text">Available - <span class="text-success">In stock</span></p>
              <p class="card-text">
                {{ product?.descriptionEn }}
              </p>
              <ul class="product-features list-unstyled">
                <li *ngIf="product?.hasFreeShipping"><i data-feather="shopping-cart"></i> <span>Free Shipping</span>
                </li>
                <!-- <li>
                  <i data-feather="dollar-sign"></i>
                  <span>EMI options available</span>
                </li> -->
              </ul>
              <hr />
              <!-- Dynamic Product Attributes Section -->
              <div class="product-attributes" *ngIf="groupedAttributes | keyvalue as attributes">
                <div class="attribute-group " *ngFor="let attrGroup of attributes">
                  <!-- Color Attribute - Special Styling with Color Swatches -->
                  <ng-container *ngIf="attrGroup.key.toLowerCase() === 'color'">
                    <div class="product-color-options">
                      <h6>{{ attrGroup.key }}</h6>
                      <ul class="list-unstyled mb-0">
                        <li class="d-inline-block" *ngFor="let attr of attrGroup.value"
                          [class.selected]="productAttributes[attrGroup.key] === attr.value">
                          <label class="color-option-wrapper" [title]="attr.value">
                            <input type="radio" class="d-none" name="attr_{{ attrGroup.key }}" [value]="attr.value"
                              [checked]="productAttributes[attrGroup.key] === attr.value"
                              (change)="selectAttribute(attrGroup.key, attr.value)" />
                            <div class="color-option" [style.borderColor]="colorMap[attr.value]"
                              [class.b-active]="productAttributes[attrGroup.key] === attr.value">
                              <div class="filloption" [style.backgroundColor]="colorMap[attr.value]"></div>
                            </div>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </ng-container>

                  <!-- Other Attributes - Original Button Style -->
                  <ng-container *ngIf="attrGroup.key.toLowerCase() !== 'color'">
                    <h6 class="mb-1">{{ attrGroup.key }}</h6>
                    <div class="attribute-options">
                      <!-- Render as buttons/pills for selection -->
                      <div class="btn-group btn-group-toggle" role="group">
                        <label class="btn btn-sm btn-outline-primary mr-2 mb-1" *ngFor="let attr of attrGroup.value"
                          [class.active]="productAttributes[attrGroup.key] === attr.value">
                          <input type="radio" name="attr_{{ attrGroup.key }}" [value]="attr.value"
                            [checked]="productAttributes[attrGroup.key] === attr.value"
                            (change)="selectAttribute(attrGroup.key, attr.value)" />
                          {{ attr.value }}
                        </label>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <hr />
              <div class="d-flex flex-column flex-sm-row pt-1">
                <ng-container *ngxPermissionsOnly="['Customer']">
                  <a *ngIf="product?.isInCart !== true" href="javascript:void(0)"
                    class="btn btn-primary btn-cart mr-0 mr-sm-1 mb-1 mb-sm-0" (click)="addToCart(product)">
                    <i data-feather="shopping-cart" class="mr-25"></i>
                    <span class="add-to-cart">Add to cart</span>
                  </a>
                  <a *ngIf="product?.isInCart === true" routerLink="/apps/e-commerce/checkout"
                    class="btn btn-primary btn-cart mr-0 mr-sm-1 mb-1 mb-sm-0" rippleEffect>
                    <i data-feather="shopping-cart" class="mr-25"></i>
                    <span class="add-to-cart">View in cart</span>
                  </a>
                  <a href="javascript:void(0)" (click)="toggleWishlist(product)"
                    class="btn btn-outline-secondary btn-wishlist mr-0 mr-sm-1 mb-1 mb-sm-0" rippleEffect>
                    <i class="fa mr-50"
                      [ngClass]="product?.isInWishlist ? ['fa-heart','text-danger'] : ['fa-heart-o']"></i>
                    <span>Wishlist</span>
                  </a>
                </ng-container>
                <div class="btn-group dropdown-icon-wrapper btn-share" ngbDropdown>
                  <button ngbDropdownToggle type="button" class="btn btn-icon hide-arrow btn-outline-secondary"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rippleEffect>
                    <i data-feather="share-2"></i>
                  </button>
                  <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a ngbDropdownItem href="javascript:void(0)" (click)="$event.preventDefault(); shareTo('facebook')"
                      title="Share on Facebook">
                      <i data-feather="facebook"></i>
                    </a>
                    <a ngbDropdownItem href="javascript:void(0)" (click)="$event.preventDefault(); shareTo('twitter')"
                      title="Share on Twitter">
                      <i data-feather="twitter"></i>
                    </a>
                    <a ngbDropdownItem href="javascript:void(0)" (click)="$event.preventDefault(); shareTo('youtube')"
                      title="Open on YouTube">
                      <i data-feather="youtube"></i>
                    </a>
                    <a ngbDropdownItem href="javascript:void(0)" (click)="$event.preventDefault(); shareTo('instagram')"
                      title="Open on Instagram">
                      <i data-feather="instagram"></i>
                    </a>
                    <a ngbDropdownItem href="javascript:void(0)" (click)="$event.preventDefault(); copyLink()"
                      title="Copy product link">
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Product Details ends -->

        <!-- <!== Item features starts ==>
        <div class="item-features">
          <div class="row text-center">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <div class="w-75 mx-auto">
                <i data-feather="award"></i>
                <h4 class="mt-2 mb-1">100% Original</h4>
                <p class="card-text">Chocolate bar candy canes ice cream toffee. Croissant pie cookie halvah.</p>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <div class="w-75 mx-auto">
                <i data-feather="clock"></i>
                <h4 class="mt-2 mb-1">10 Day Replacement</h4>
                <p class="card-text">Marshmallow biscuit donut dragée fruitcake. Jujubes wafer cupcake.</p>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0">
              <div class="w-75 mx-auto">
                <i data-feather="shield"></i>
                <h4 class="mt-2 mb-1">1 Year Warranty</h4>
                <p class="card-text">Cotton candy gingerbread cake I love sugar plum I love sweet croissant.</p>
              </div>
            </div>
          </div>
        </div>
        <!== Item features ends ==> -->

        <!-- Reviews Section starts -->
        <div class="card-body border-top">
          <div class="mt-4 mb-2">
            <h4>Customer Reviews</h4>
            <div class="d-flex align-items-center mb-2">
              <div class="rating rating-lg mr-1">
                <ngb-rating [rate]="averageRating" [readonly]="true" [max]="5" class="outline-none">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="fa fa-star-o mr-25" [class.fa-star]="fill === 100"></span>
                  </ng-template>
                </ngb-rating>
              </div>
              <span class="text-muted">{{ averageRating | number:'1.1-1' }} out of 5 ({{ totalReviews }} {{ totalReviews
                === 1 ? 'review' : 'reviews' }})</span>
            </div>

            <!-- Write Review Button -->
            <button class="btn btn-primary mb-3" (click)="toggleReviewForm()" rippleEffect>
              <i data-feather="edit" class="mr-50"></i>
              <span>{{ showReviewForm ? 'Cancel' : 'Write a Review' }}</span>
            </button>

            <!-- Review Form -->
            <div class="card mb-3" *ngIf="showReviewForm">
              <div class="card-body">
                <h5 class="mb-2">Write Your Review</h5>
                <div class="form-group">
                  <label class="form-label">Rating <span class="text-danger">*</span></label>
                  <div class="rating-input">
                    <ngb-rating [(rate)]="reviewForm.rating" [max]="5" class="outline-none">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="fa fa-star-o fa-2x cursor-pointer" [class.fa-star]="fill === 100"
                          [class.text-warning]="fill === 100"></span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Comment</label>
                  <textarea class="form-control" rows="4" placeholder="Share your experience with this product..."
                    [(ngModel)]="reviewForm.comment"></textarea>
                </div>
                <button class="btn btn-primary" (click)="submitReview()" [disabled]="isSubmittingReview" rippleEffect>
                  <span *ngIf="!isSubmittingReview">Submit Review</span>
                  <span *ngIf="isSubmittingReview">
                    <span class="spinner-border spinner-border-sm mr-50"></span>
                    Submitting...
                  </span>
                </button>
              </div>
            </div>

            <!-- Reviews List -->
            <div class="reviews-list">
              <div class="card mb-2" *ngFor="let review of reviews">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start mb-1">
                    <div>
                      <div class="rating rating-sm mb-50">
                        <ngb-rating [rate]="review.rating" [readonly]="true" [max]="5" class="outline-none">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="fa fa-star-o mr-25" [class.fa-star]="fill === 100"></span>
                          </ng-template>
                        </ngb-rating>
                      </div>
                      <h6 class="mb-0">{{ review.userFullName || 'Anonymous' }}</h6>
                      <small class="text-muted">{{ review.createdDate | date:'MMM d, y' }}</small>
                    </div>
                  </div>
                  <p class="card-text mb-1" *ngIf="review.comment">{{ review.comment }}</p>
                </div>
              </div>

              <!-- Empty State -->
              <div class="text-center py-3" *ngIf="reviews.length === 0">
                <i data-feather="message-square" class="font-large-2 text-muted mb-1"></i>
                <p class="text-muted">No reviews yet. Be the first to review this product!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Reviews Section ends -->

        <!-- Related Products starts -->
        <div class="card-body">
          <div class="mt-4 mb-2 text-center">
            <h4>Related Products</h4>
            <p class="card-text">People also search for this items</p>
          </div>
          <div class="swiper-responsive-breakpoints swiper-container px-4 py-2" [swiper]="swiperResponsive">
            <div class="swiper-wrapper mb-2">
              <div class="swiper-slide" *ngFor="let relatedProduct of relatedProducts">
                <div class="card h-100">
                  <div class="card-body text-center">
                    <div class="item-heading">
                      <h5 class="text-truncate mb-0">{{ relatedProduct?.nameEn || relatedProduct?.name }}</h5>
                      <small class="text-body">by {{ relatedProduct?.brand }}</small>
                    </div>
                    <div class="img-container mx-auto py-75">
                      <img [src]="relatedProduct?.mainImagePath || relatedProduct?.image || relatedProduct?.mainImage"
                        class="img-fluid" alt="image" />
                    </div>
                    <div class="item-meta">
                      <div class="rating rating-sm">
                        <ngb-rating [rate]="relatedProduct?.averageRating || relatedProduct?.rating || 0"
                          [readonly]="true" [max]="5" class="outline-none">
                          <ng-template let-fill="fill" let-index="index"><span class="fa fa-star-o mr-25"
                              [class.fa-star]="fill === 100"></span></ng-template>
                        </ngb-rating>
                      </div>
                      <p class="card-text text-primary mb-0">{{ relatedProduct?.price }} EGP</p>
                      <div class="mt-2">
                        <a [routerLink]="['/apps/e-commerce/details', relatedProduct?.id]"
                          class="btn btn-sm btn-primary mr-1">
                          <i data-feather="eye" class="mr-25"></i>
                          <span>See Details</span>
                        </a>
                        <button class="btn btn-sm btn-outline-secondary" (click)="toggleWishlist(relatedProduct)">
                          <i class="fa"
                            [ngClass]="relatedProduct?.isInWishlist ? ['fa-heart','text-danger'] : ['fa-heart-o']"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <!-- Related Products ends -->
      </div>
    </section>
    <!-- app e-commerce details end -->
  </div>
</div>